body {
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 0;
  padding: 0;
}

/* ----- header ----- */

.header-bar {
  display: flex;
  padding: 10px 100px;
  gap: 16px;
  font-size: 18px;
}

.header-left {
  margin-right: auto;
  font-size: 24px;
  font-weight: 700;
}

.section {
  display: flex;
  justify-content: center;
  padding: 50px 100px;
  gap: 25px;
}

/* ----- awesome section ----- */

.sec-awesome {
  font-size: 18px;
}

h1 {
  /* font-size: 48px; */
  font-weight: 900;
}

.awesome-header {
  font-size: 48px;
  font-weight: 900;
  line-height: 0.9;
  margin-bottom: 12px;
}

.sec-awesome img {
  /* flex: 1; */
  height: 200px;
}

/* ----- info section ----- */

.section.sec-info {
  flex-direction: column;
  align-items: center;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
}

.sec-info-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.sec-info-cards img {
  height: 100px;
  flex: 0 0 auto;
}

.sec-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----- quote section ----- */

.section.sec-quote {
  flex-direction: column;
  font-style: italic;
  font-size: 36px;
}

.speaker {
  align-self: flex-end;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

/* ----- action section ----- */

.action-left {
  display: flex;
  flex-direction: column;
}

.section.sec-action {
  justify-content: center;
  align-items: center;
}

.action-interior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 40px;
  flex: 1;
  border-radius: 10px;
}

/* ----- footer ----- */

.footer-bar {
  text-align: center;
  padding: 10px 0;
}

/* ----- Background Colors ----- */

.header-bar,
.footer-bar,
.sec-awesome {
  background-color: #1f2937;
  color: white;
}

.sec-quote {
  background-color: #e5e7eb;
}

.action-interior,
button {
  background-color: #3882f6;
  color: white;
}

button {
  padding: 6px 18px;
  border-radius: 4px;
}

.sec-awesome button {
  border: 0;
  margin-top: 12px;
}

.sec-action button {
  border: 1px solid;
  border-color: white;
}
