body {
  display: flex;
  flex-direction: column;
}

.header-bar {
  display: flex;
  padding: 10px 100px;
  gap: 16px;
}

.header-left {
    margin-right: auto;
    font-size: larger;
    font-weight: 700;
}

.section {
  display: flex;
  justify-content: center;
}

/* ----- Background Colors ----- */

.header-bar,
.footer-bar,
.sec-awesome {
    background-color: #1F2937;
    color: white;
}

.sec-quote {
    background-color: #E5E7EB;
}

.sec-action {
    background-color: #3882F6;
}




